body {
    background-color: #DCE3E9;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.auswahl{
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
}
#AnimationStoppen{
  margin-left: 20px;
}
#ueberschrift{
  font-size: 30pt;
  text-align: center;
  color: #000000;
  text-shadow: 2px 2px 2px #FBFBFB;
  font-family: inherit;
}

#canvas{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
#monat{
  text-align: center;
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 0px;
}
/*Angelehnt an das Beispiel von https://www.w3schools.com/csS/css3_buttons.asp*/
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #393e3f;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 10px 9px #FBFBFB;
}

.button:hover {background-color: #606465}

.button:active {
  background-color: #606465;
  box-shadow: 0 10px 5px #B4B4B4;
  transform: translateY(4px);
}
